{% extends 'base.html' %}


{% block header %}
  <!-- header -->
{% endblock header %}


{% block content %}
    <h1>Here is your storage</h1>
    Follow instructions below to mount your storage
    <h2>How to mount</h2>
    <pre>
    sudo -i
    apt-get install cifs-utils

    mkdir /mnt/mystorage

    # Create your keyring file
    echo "{{ credentials }}" &gt; /etc/ceph/ceph.client.{{ client_name }}.keyring

    mount -t ceph $CEPH_MON_IP:/{{ client_name }} /mnt/mystorage -o name={{ client_name }},secret={{ ceph_secret }}
    </pre>

    <h2>How to unmount</h2>
    <pre>
    umount /mnt/mystorage
    </pre>
{% endblock %}
